* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #9097de, #24c2b5);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 45px;
    color: #2c3e50;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.search-box input {
    width: 60%;
    padding: 14px;
    font-size: 18px;
    border: 2px solid #e67e22;
    border-radius: 10px;
    outline: none;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.search-box input:focus {
    border-color: #d35400;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
}

.product-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid transparent;
}

.product-card:hover {
    transform: translateY(-8px);
    border-color: #ff9f1a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.product-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
    font-size: 22px;
    color: #34495e;
    margin-bottom: 8px;
}

.product-card p {
    font-size: 20px;
    color: #27ae60;
    font-weight: bold;
} 

.navbar {
    width: 460px;
    margin: 0 auto;         
    position:sticky;
    top: 0;
    z-index: 1000;
    background: #b7f3ffa5;
    padding: 12px 20px;
    box-shadow: 0 2px 5px rgb(34, 191, 191);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    display: flex;
    align-items: center;
    gap: 30px;
}










